@font-face {
  font-family: 'Gaoel';
  src: url("./fonts/gaoel-1/web-font/Gaoel.woff") format('woff'),
       url("./fonts/gaoel-1/web-font/Gaoel.ttf") format('truetype');
}

body {
  font-family: 'Gaoel', sans-serif;
}

.p-component {
    margin: auto;
}
