@font-face {
    font-family: 'a Area Kilometer 50';
    src: url("./fonts/a-area-kilometer-50-font/AreaKilometer50-ow3xB.woff") format('woff'),
    url("./fonts/a-area-kilometer-50-font/AreaKilometer50-ow3xB.ttf") format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('./fonts/Archivo,Lato/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

body {
    font-family: 'a Area Kilometer 50', sans-serif;
    margin: 0;
}

.p-component {
    margin: auto;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: #73B5B4 !important;
}

.p-slider .p-slider-range {
    background: #73B5B4;
}

.p-slider.p-slider-vertical {
    width: 0.5rem;
}

.p-slider .p-slider-handle {
    width: 1.5rem;
    height: 1.5rem;
}

.p-slider .p-slider-handle {
    margin-left: -0.7rem;
}