@font-face {
  font-family: 'Gaoel';
  src: url("./fonts/gaoel-1/web-font/Gaoel.woff") format('woff'),
       url("./fonts/gaoel-1/web-font/Gaoel.ttf") format('truetype');
}

body {
  font-family: 'Gaoel', sans-serif;
}

.p-component {
    margin: auto;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: #73B5B4!important;
}

.p-slider .p-slider-range {
    background: #73B5B4;
}

.p-slider.p-slider-vertical {
    width: 0.5rem;
}

.p-slider .p-slider-handle {
    width: 1.5rem;
    height: 1.5rem;
}

.p-slider .p-slider-handle {
    margin-left: -0.7rem;
}
